#root {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    overflow: hidden;
    user-select: none;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.display_flex {
    display: flex;
}

.display_inline-flex {
    display: inline-flex;
}

.display_grid {
    display: grid;
}

.align-items_center {
    align-items: center;
}

.align-items_start {
    align-items: start;
}

.justify-content_end {
    justify-content: end;
}

.justify-content_center {
    justify-content: center;
}

.justify-content_space-between {
    justify-content: space-between;
}

.width_100 {
    width: 100%;
}

.max-width_600px {
    max-width: 600px;
}

.height_100 {
    height: 100%;
}

.height_auto {
    height: auto;
}

.height_48px {
    height: 48px;
}

.flex-wrap_wrap {
    flex-wrap: wrap;
}

.flex-direction_column {
    flex-direction: column;
}

.text-align_center {
    text-align: center;
}

.overflow_hidden {
    overflow: hidden;
}

.overflow-y_auto {
    overflow-y: auto;
}

.position_relative {
    position: relative;
}

.position_absolute {
    position: absolute;
}

.position_fixed {
    position: fixed;
}

.position_fixed--centered {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cursor_pointer {
    cursor: pointer;
}

.link {
    color: #4C4CFF;
    transition: .3s;
    text-decoration: none;
}

.link:hover {
    color: #8a8aff;
}

.text-align_center {
    text-align: center;
}