.profile-left {
    max-width: 320px;
}

.navlink {
    color: #8585AD;
    text-decoration: unset;
    line-height: 64px;
}

.navlink-active {
    color: #fff;
}

.feed-item {
    background-color: #1C1C21;
    border-radius: 40px;
}

.ingredients__item {
    background: linear-gradient(63.18deg, #801AB3 0%, #4C4CFF 100%);
    border-radius: 100px;
    padding: 2px;
    width: 64px;
    height: 64px;
}

.ingredients__item:not(:first-child) {
    margin-left: -15px;
}

.ingredients__item:nth-child(1) {
    z-index: 6;
}

.ingredients__item:nth-child(2) {
    z-index: 5;
}

.ingredients__item:nth-child(3) {
    z-index: 4;
}

.ingredients__item:nth-child(4) {
    z-index: 3;
}

.ingredients__item:nth-child(5) {
    z-index: 2;
}

.ingredients__item:nth-child(6) {
    z-index: 1;
}

.ingredients__image {
    background: #131316;
    border-radius: 100px;
    width: 62px;
    height: 62px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.ingredients__image img {
    object-fit: contain;
    width: 175%;
}

.profile {
    height: calc(100% - 120px);
    overflow: hidden;
}

.profile-right {
    max-height: 100%;
}

.feed-item__status--ready {
    color: #00CCCC;
}